$background:#F3EDDD;
$surface:#745C40;
$primary:#F2E5BB;
$primary-darken-1:#E6D5A6;
$secondary:#C0AA83;
$secondary2:#211C15;
$secondary-darken-1:#F27935;
$text:#0D0D0D;
$error:#B00020;
$info: #2196F3;
$success: #4CAF50;
$warning:#FB8C00;
@import '~vuetify/src/styles/styles.sass';